@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

/* Existing styles... */

@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two-column layout */
        grid-gap: 1rem;
    }

    #menu-button {
        display: none;
        /* this will hide my menu button when on other display sizes */
    }
}


body {
    font-family: var(--primary-font);
    font-size: 18px;
    color: black;
}

a {
    color: #007bf0;
    text-decoration: none;
}

/* submenu declarable for making a hover element, reviewed from last semester */
a:hover {
    color: #0056b3;
}

header {
    background-color: lightgray;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    /* this makes it so that the image is cropped to fit within the height and width. */
}

