@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

a {
    color: #007bf0;
    text-decoration: none;
}

/* submenu declarable for making a hover element, reviewed from last semester */
a:hover {
    color: #0056b3;
}

header {
    background-color: lightgray;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    /* this makes it so that the image is cropped to fit within the height and width. */
}

