@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

/* include my root styling here to compensate for concurrently implementing all of my desired changes into the site. 
 */

:root {
  --primary-color: #8DB890;
  --secondary-color: white;
  --accent1-color: black;
  --accent2-color: #DFDCD1;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
}

/* Header Styles */
/* header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  background-color: var(--accent2-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.logo-and-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  height: 320px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
}

.search-button {
  background-color: white;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button img {
  height: 16px;
}

/* Privacy Section */

.privacy-section {
  background-color: #fff;
  padding: 40px 20px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 800px;
}

.privacy-section h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.privacy-section p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}


/* Hero section styles */
.hero {
  padding: 100px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.gradient-text-hero {
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to right, var(--primary-color), #33ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.get-commit-button {
  background-color: #ffc107;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


/* Motivation Content Section */

.motivation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 50px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.motivation-content {
  text-align: center;
  max-width: 500px;
  /* max-height: 200px; */
  margin-right: 40px;
}

.motivation-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.gradient-text-motivation {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, var(--accent1-color), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.motivation-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.learn-more-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.learn-more-button:hover {
  background-color: #0056b3;
}

.motivation-image {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  width: 200px; /* Set a specific width for the image */
  margin: 20px 0; /* Add margin for spacing */
}

/* .motivation-image img {
  max-width: 80%;
  height: 250px;;
} */




/* FAQ Section */

.faq-section {
  background-color: var(--accent2-color);
  color: black;
  padding: 60px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid #333;
  padding: 20px 0;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-right: 30px;
}

.faq-question:after {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.faq-answer {
  margin-top: 10px;
  display: none;
}




/* My Footer Styling */

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.company-links {
  flex: 1;
  margin-right: 40px;
}

.company-links h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.company-links ul {
  list-style-type: none;
  padding: 0;
}

.company-links ul li {
  margin-bottom: 10px;
}

.company-links ul li a {
  color: #fff;
  text-decoration: none;
}

.subscribe-section {
  flex: 1;
  text-align: right;
}

.subscribe-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.subscribe-input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subscribe-input {
  padding: 10px 15px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  width: 60%;
}

.subscribe-button {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}





/* Responsive Design */

/* Mobile Styles (Default) */
@media (max-width: 600px) {
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {

  /* .motivation {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  .motivation-content {
    text-align: left;
  } */
}

/* Desktop Styles */
@media (min-width: 1025px) {

  
}
